﻿@model List<ParkLotSpace.Models.Record>
@{
    ViewBag.Title = "Index";
}

<h2>List of Park houses in Århus</h2>

@foreach(var lot in Model)
{
    @Html.Label("Id: ") @Html.Label(lot._id.ToString())<br />
    @Html.Label("Date: ") @Html.Label(lot.date.ToString())<br />
    @Html.Label("Place: ") @Html.Label(lot.garageCode.ToString())<br />
    @Html.Label("Total lots: ") @Html.Label(lot.totalSpaces.ToString())<br />
    @Html.Label("Used lots: ") @Html.Label(lot.vehicleCount.ToString())<br />
    @Html.Label("Free lots: ") @Html.Label(lot.freeSpace.ToString())<br /><br />
}

